<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Spring Boot Thymeleaf + Spring Security</title>	
	    <div th:replace="fragments/header :: header-css"/>	
	</head>
	<body>	
	<div th:replace="fragments/header :: header"/>	
	<div class="container">	
	    <div class="starter-template">
	        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
	        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
	        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
	        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
	    </div>	
	</div>
	<!-- /.container -->	
	<div th:replace="fragments/footer :: footer"/>	
	</body>
</html>